
body {
	font-family:serif,sans-serif;
    text-align: left;
    padding : 25px;
    border: 3px solid black;
    background-color: 
        background-color: #F5F5F5;
	margin : 30px 50px 1px 50px;
	height:100%;
	
  }
  
  
h1{
    background-color: #ADD8E6;

    }
	
dt{
	background-color:#F0F8FF;
}	
dd{
	background-color:#F0FFFF;
}
#leftColumn{
	 border-right: 3px solid black;
	position:relative;
	float: left;
	width:30%;
	height:90%;
	padding : 5px;
}

#rightColumn{
	 
	position:relative;
	float: right;
	height:90%;
	width:66%;
	padding : 5px;
}